
.Product_cartbody{
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .Product_cartPage{
    background-color: #ffffff;
    margin: 40px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    position:relative;
  }
  
  .Product_img_tab_cart>img{
  
    width: 200px;
    height: 120px;
  
  }

  .logoname{
    font-size: xx-large;
    font-weight:bold;
  }
  .logonameextra{
    font-size: x-large;
    font-weight: 700;
  }
  .mainnav_contain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .shopcart{
    color: rgb(112, 229, 131);
  }
  .Product_cart_icon{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction:row;
  }
  .shopingpricetext{
    color: #EB6440;
    font-size: x-large;
  }
  
  .Product_body{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .Product_cart{
    background-color: #ffffff;
    margin: 40px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    position:relative;
  }
  
  .Product_img_tab>img{
    mix-blend-mode:multiply;
  }
  
  .product_price_tab{
    position: absolute;
    bottom: 0%;
  }
  
  .shoppingbtn1,.shoppingbtn2{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  
  }
  .shoppingbtn1:hover{
    background-color: rgb(254, 254, 132);
    color: #030303;
  }
  .shoppingbtn2:hover{
    background-color: rgb(194, 254, 223);
    color: #030303;
  }
  .cart_text_title{
    font-size:x-large;
    font-weight: bolder;
  }
  
  .loveimg_cart{
    font-size:x-large;
    color: #EB6440;
    text-shadow: 0 0 3px #efa9a9, 0 0 5px #fe7478;
  }
  
  .loveimg_cart:hover{
    color: #ff0a0a;
    outline: #dcba0e;
    scale: 1.1;
  }

  
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 30px;
  }
  
  .input-box {
    position: relative;
    height: 45px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 0 20px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-box input[type=text]:focus{
    border: 3px solid red;
    border-radius: 25px;
    transition:ease;
  }
  
  .input-box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 25px;
    color: #dcba0e;
  }
  .input-box input {
    height: 100%;
    width: 100%;
    outline: none; 
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
  }
  
  